#createPage_screen{
    position: relative;
    display: flex;
    width: 100%;
    left: 0%;
    height: 90%;
    top: 0%;
    }
#createPage_sideBar{
position: relative;
width: 15%;
height:100%;
left: 0px;
top: 0%;
border-right:solid;
border-width:1px;
background: white;

overflow-y: scroll,
}

#createPage_sideBar_banner {
position: relative;
width: 100%;
height: 10%;
left: 0px;
top: 0px;
background: #FEFEFF;
border-bottom: 1px solid #000000;
box-sizing: border-box;
}
#createPage_sideBar_selector{
    position: relative;
    width: 5%;
    height: 85%;

   
/* 
    font-family: 'Revalia';
    font-style: normal;
    font-weight: 400;
    font-size: 18px; */
}

#createPage_workPlace{
position: relative;
width: 78%;
height: 85%;
left:1%;
top: 1%;
border: 1px solid #000000;
border-radius: 0.5cm;
background-color: aliceblue;
}

#createPage_toolBar{
    position: absolute;
    width: 83%;
    height:12%;  
    top: 87%;
    left: 16%;
    border: 1px solid #000000;
    border-radius: 0.5cm;
    background-color: lightgrey;
}



/* .createPage_button{
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: center;	
    cursor:pointer;
	font-size: 20px;
    vertical-align:top;
    transform:rotate(7deg);
    -ms-transform:rotate(90deg); 
    -moz-transform:rotate(90deg); 
    -webkit-transform:rotate(90deg); 
    -o-transform:rotate(90deg); 
} */

/* .createPage_button:hover{box-shadow:0px 0px 4px #fff;}
.createPage_button:active{top:1px;} */

#messagePage_screen{
    position: relative;
    display: flex;
    width: 100%;
    left: 0%;
    height: 90%;
    top: 0%;
    }
#messagePage_sideBar{
    position: relative;
    width: 15%;
    height:90%;
    left: 10%;
    top: 1%;
    bottom: 1%;
    border:solid;
    border-width:1px;
    background: white;
    border-radius: 0.3cm;
    overflow-y: auto,
    }
#messagePage_sideBar_banner {
    position: relative;
    width: 100%;
    height: 10%;
    left: 0px;
    top: 0px;
    background: #FEFEFF;
    border-bottom: 1px solid #000000;
    box-sizing: border-box;
    border-top-left-radius: 0.3cm;
    border-top-right-radius: 0.3cm;
    }
#messagePage_workPlace{
    position: relative;
    width: 60%;
    height: 70%;
    left:10%;
    top: 1%;
    border: 1px solid #000000;
    border-radius: 0.5cm;
    background-color: palegoldenrod;
    margin-left: 5%;
    margin-right: 5%;

    }
#messagePage_text{
    position: absolute;
    width: 60%;
    height:20%;  
    top: 72%;
    left: 30%;
    border: 1px solid #000000;
    border-radius: 0.5cm;
}

#readPage_screen{
    position: relative;
    width: 100%;
    left: 0%;
    height: 85%;
    top: 0%;
    background: white;
    }